<section class="bg-light p-4 rounded my-3 w-75 m-auto">
  <h1>Register Now</h1>

  <!-- 
    بامكاني احط بروبرتي بالبوتن تبع الفورم واكتب فيها كليك واعطيه فنكشن 
    بس المشكله انه مش احسن اشي عشان يمكن يسبميت الفورم بالانتر فبروح على تاج الفورم وبكتب كالاتي -->

  <form [formGroup]="registerForm" (ngSubmit)="handelForm()">
    <div class="mb-2">
      <label for="name">name: </label>
      <input
        #inputName
        formControlName="name"
        type="text"
        id="name"
        class="form-control"
      />

      <div
        class="alert alert-danger"
        *ngIf="
          registerForm.get('name')?.errors &&
          (registerForm.get('name')?.touched || inputName.value.length > 0)
        "
      >
        <p *ngIf="registerForm.get('name')?.getError('required')">
          name is required
        </p>
        <p *ngIf="registerForm.get('name')?.getError('minlength')">
          min length is 3
        </p>
        <p *ngIf="registerForm.get('name')?.getError('maxlength')">
          max length is 20
        </p>
      </div>
    </div>

    <div class="mb-2">
      <label for="email">email: </label>
      <input
        #inputEmail
        formControlName="email"
        type="email"
        id="email"
        class="form-control"
      />

      <div
        class="alert alert-danger"
        *ngIf="
          registerForm.get('email')?.errors &&
          (registerForm.get('email')?.touched || inputEmail.value.length > 0)
        "
      >
        <p *ngIf="registerForm.get('email')?.getError('required')">
          email is required
        </p>
        <p *ngIf="registerForm.get('email')?.getError('email')">
          email invalid
        </p>
      </div>
    </div>

    <div class="mb-2">
      <label for="password">password: </label>
      <input
        #inputPassword
        formControlName="password"
        type="password"
        id="password"
        class="form-control"
      />

      <div
        class="alert alert-danger"
        *ngIf="
          registerForm.get('password')?.errors &&
          (registerForm.get('password')?.touched ||
            inputPassword.value.length > 0)
        "
      >
        <p *ngIf="registerForm.get('password')?.getError('required')">
          password is required
        </p>
        <p *ngIf="registerForm.get('password')?.getError('pattern')">
          password must start with upperCase then from 6 to 20
        </p>
      </div>
    </div>

    <div class="mb-2">
      <label for="rePassword">rePassword: </label>
      <input
        #inputRePassword
        formControlName="rePassword"
        type="password"
        id="rePassword"
        class="form-control"
      />

      <div
        class="alert alert-danger"
        *ngIf="
          registerForm.get('rePassword')?.errors &&
          (registerForm.get('rePassword')?.touched ||
            inputRePassword.value.length > 0)
        "
      >
        <p *ngIf="registerForm.get('rePassword')?.getError('required')">
          rePassword is required
        </p>
        <p *ngIf="registerForm.get('rePassword')?.getError('misMatch')">
          rePassword is not match the Password
        </p>
      </div>
    </div>

    <div class="mb-2">
      <label for="phone">phone: </label>
      <input
        #inputPhone
        formControlName="phone"
        type="tel"
        id="phone"
        class="form-control"
      />

      <div
        class="alert alert-danger"
        *ngIf="
          registerForm.get('phone')?.errors &&
          (registerForm.get('phone')?.touched || inputPhone.value.length > 0)
        "
      >
        <p *ngIf="registerForm.get('phone')?.getError('required')">
          phone is required
        </p>
        <p *ngIf="registerForm.get('phone')?.getError('pattern')">
          accept only egypt phone number
        </p>
      </div>
    </div>

    <button
      [disabled]="registerForm.invalid"
      class="btn btn-info ms-auto d-block"
    >
      <i *ngIf="isLoading" class="fas fa-spinner fa-spin"></i>
      Register
    </button>

    <p *ngIf="messageError" class="alert alert-danger">{{ messageError }}</p>
    <!-- if messageError contains text -> return true -->
  </form>
</section>
